body{
  height: 100vh;
  width: 100vw;
  position: relative;
}

#loading{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

#loading img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#ani, #ani2{
  position: absolute;
  display: inline-block;
  line-height: 20px;
  letter-spacing: 2px;
  /* text-align: center; */
}
#ani{
  left: 46%;
  top: 45%;
  transform: translate(-45%, -46%);
}
#ani2{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fade-out {
  transition: .3s all ease;
  opacity: 0;
}

.btnWrap{
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

button{
  border-radius: 4px; 
  border: none;
  font-size: 18px;
  padding: 4px 10px;
}

.btnWrap button{
  opacity: 0;
}

.btnWrap:hover button{
  transition: all .3s ease;
  opacity: 1;
}